@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom scrollbar hide */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* marquee slider ar css */
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 70s linear infinite;
}

.tab-content {
  color: black;
}
.tab-image {
  filter: brightness(0);
}
.tab[aria-selected="true"] .tab-content {
  background-color: black;
  color: yellow;
}
.tab[aria-selected="true"] .tab-image {
  filter: brightness(1);
}
.tab-text {
  color: black;
}
.tab[aria-selected="true"] .tab-text {
  color: yellow;
}
.tab:focus {
  outline: none;
  box-shadow: none;
}
.tab[aria-selected="true"] {
  border: none;
}

.filter-yellow {
  filter: brightness(0) saturate(100%) invert(73%) sepia(93%) saturate(737%)
    hue-rotate(1deg) brightness(107%) contrast(104%);
}
.text-yellow {
  color: #ffd700; /* অথবা আপনার পছন্দের ইয়েলো রঙ */
}
